name: docs

on: push

jobs:
  build_docs_and_deploy:
    runs-on: ubuntu-latest
    name: build up document and deploy

    steps:
    - name: Checkout
      uses: actions/checkout@master

    - name: Clone pre repositories
      run: |
        cd ..
        git clone -b manim https://github.com/manim-kindergarten/manim_document_zh.git manim
        cd manim
        git clone https://github.com/manim-kindergarten/manim_sandbox.git
    
    - name: Install sphinx and manim env
      run: |
        pip3 install --upgrade pip
        sudo apt install python3-setuptools
        pip3 install -r requirements.txt
        pip3 install -r ../manim/requirements.txt
    
    - name: Build document with Sphinx
      run: |
        export PATH="$PATH:/home/runner/.local/bin:/home/runner/manim_document_zh/manim"
        export SPHINXBUILD="python3 -m sphinx"
        make html
        cd build/html
        echo "manim.ml" > CNAME

    - name: Build document for shaders
      run: |
        export PATH="$PATH:/home/runner/.local/bin:/home/runner/manim_document_zh/manim"
        export SPHINXBUILD="python3 -m sphinx"
        cd shaders
        make html
        mv build/html/ ../build/html/shaders/
        
    - name: Deploy to GitHub pages
      uses: JamesIves/github-pages-deploy-action@3.7.1
      with:
        ACCESS_TOKEN: ${{ secrets.ACCESS_TOKEN }}
        BRANCH: gh-pages
        FOLDER: build/html
